<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pais</key>
		<string>Perú</string>
		<key>capital</key>
		<string>Lima</string>
		<key>bandera</key>
		<string>http://www.dailymobile.net/wp-content/uploads/2009/07/Peru_H0CKEY.jpg</string>
	</dict>
	<dict>
		<key>pais</key>
		<string>Venezuela</string>
		<key>capital</key>
		<string>Caracas</string>
		<key>bandera</key>
		<string>http://cdn7.staztic.com/app/a/3894/3894553/venezuelan-flag-planet-1-2-s-307x512.jpg</string>
	</dict>
	<dict>
		<key>pais</key>
		<string>Argentina</string>
		<key>capital</key>
		<string>Buenos Aires</string>
		<key>bandera</key>
		<string>http://media-cache-ec0.pinimg.com/736x/48/65/8e/48658ed8cee4d923f2ef7266406cde6b.jpg</string>
	</dict>
	<dict>
		<key>pais</key>
		<string>Colombia</string>
		<key>capital</key>
		<string>Bogotá</string>
		<key>bandera</key>
		<string>http://cdn2.stormgrounds.com/stormgrounds-cdn/media/iphone/iphone-Colombia-Flag.jpg</string>
	</dict>
	<dict>
		<key>pais</key>
		<string>Bolivia</string>
		<key>capital</key>
		<string>La Paz</string>
		<key>bandera</key>
		<string>http://live-wallpaper.net/iphone/img/app/b/o/bolivia-flag-iphone-wallpaper_e35165033ba3e925fa35e0c6155c46f7_raw.jpg</string>
	</dict>
	<dict>
		<key>pais</key>
		<string>Brasil</string>
		<key>capital</key>
		<string>Brasilia</string>
		<key>bandera</key>
		<string>http://www2.picturepush.com/photo/a/12585800/img/iPhone-Wood-Wallpapers/Brazil-Flag-Antique-iPhone-5.jpg</string>
	</dict>
	<dict>
		<key>pais</key>
		<string>Uruguay</string>
		<key>capital</key>
		<string>Montevideo</string>
		<key>bandera</key>
		<string>http://content.iphone-room.com/previews/_ITouch_DFs_Reloaded_Uruguay_by_Hemingway81.jpg</string>
	</dict>
	<dict>
		<key>pais</key>
		<string>Ecuador</string>
		<key>capital</key>
		<string>Quito</string>
		<key>bandera</key>
		<string>http://www.highreshdwallpapers.com/wp-content/uploads/2012/03/Ecuador-Flag-Wallpaper-320x480.jpg</string>
	</dict>
	<dict>
		<key>pais</key>
		<string>Chile</string>
		<key>capital</key>
		<string>Santiago de Chile</string>
		<key>bandera</key>
		<string>http://www.americapictures.net/wallpapers/2012/04/Puerto-Rico-Flag-Wallpaper-1136x640.jpg</string>
	</dict>
</array>
</plist>
